@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.header {
  background-color: #001C30;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .header ul {
    list-style-type: none;
    text-transform: uppercase;
    margin: auto;
    display: flex;
    flex-direction: row; }
    .header ul li {
      font-size: 13px;
      padding: 5px;
      margin: 10px;
      background-color: #001C30;
      border-radius: 10px; }
      .header ul li a {
        color: #64CCC5;
        font-family: 'Kanit', sans-serif;
        text-decoration: none; }

a:hover {
  background-color: #001C30;
  font-weight: bold;
  text-decoration: none; }

.main {
  background-image: url(https://i.pinimg.com/originals/6b/7f/d7/6b7fd734728e55e229cb06b79d12dd27.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .main .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .main .container h1 {
      color: #d0e6ed;
      font-size: 50px;
      margin: 5px;
      text-align: center;
      font-family: 'Kanit', sans-serif; }

.tag {
  margin: 10px;
  text-decoration: none; }
  .tag small {
    background-color: #001C30;
    padding: 4px 10px;
    font-size: 15px;
    border-radius: 5px;
    color: aliceblue; }

small:hover {
  background-color: #EEE3CB;
  color: #001C30;
  font-weight: normal;
  text-decoration: none; }

.seccion {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .seccion .form {
    background-color: #001C30;
    color: aliceblue;
    margin: 5px 70px;
    padding: 10px;
    border-radius: 15px; }
    .seccion .form input {
      padding: 5px;
      margin: 5px;
      border-radius: 15px; }

.alum div {
  background-color: #001C30;
  margin: 15px;
  padding: 8px;
  color: #EEE3CB;
  text-transform: uppercase;
  border-radius: 10px;
  text-align: center; }

.horas div {
  background-color: #001C30;
  margin: 15px;
  padding: 8px;
  color: #EEE3CB;
  text-transform: uppercase;
  border-radius: 10px;
  text-align: center; }

.fly {
  padding: 10px 0; }
  .fly .sec-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

.go h2 {
  color: #001C30;
  padding: 5px;
  text-align: center;
  font-size: 30px;
  font-family: 'Kanit', sans-serif; }

.go p {
  color: aliceblue;
  text-align: start;
  padding: 15px 0;
  font-size: 25px;
  font-family: 'Kanit', sans-serif; }

.go ul {
  list-style-type: none;
  text-transform: uppercase; }
  .go ul li {
    color: #64CCC5;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    padding: 10px; }

@media (min-width: 426px) {
  .main .container {
    flex-direction: column;
    align-items: center; }
  .main .seccion .form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main .sec-img {
    flex-direction: column;
    align-items: center; } }

@media (min-width: 769px) {
  .grilla {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "alum horas" "alum horas"; }
    .grilla .alum {
      grid-area: alum;
      margin: 0 15px 0 0; }
    .grilla .horas {
      grid-area: horas;
      margin: 0 0 0 15px; } }

@media (min-width: 1025px) {
  .main img {
    height: 300px; }
  .main .sec-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "parrafo imagen" "lista imagen";
    justify-items: center; }
    .main .sec-img .go p {
      grid-area: parrafo; }
    .main .sec-img .sec-img {
      grid-area: imagen; }
    .main .sec-img .go ul {
      grid-area: lista; }
    .main .sec-img .go {
      display: flex;
      flex-direction: column;
      align-items: center; } }

/* MAIN CURSOS */
.cursos {
  display: flex;
  flex-direction: column;
  align-items: center; }

.card {
  margin: 25px; }

.card h5 {
  font-family: 'Kanit', sans-serif;
  font-size: 25px;
  color: #428c87; }

.card p {
  font-family: 'Kanit', sans-serif; }

/* -----MAIN FLOTA----- */
.flota h2 {
  margin: 0 10px;
  padding: 15px 0;
  font-family: 'Kanit', sans-serif;
  font-size: 30px;
  color: #336461; }

.flota h3 {
  margin: 0 20px;
  padding: 10px 0;
  font-family: 'Kanit', sans-serif;
  font-size: 20px; }

table h5 {
  margin: 20px; }

.sec-flota {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.tabla {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.tabla2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.tabla3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.tabla4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

/* -----FOOTER----- */
.footer {
  background-color: #001C30;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly; }

.col {
  color: aliceblue;
  font-size: 15px; }

.col h2 {
  color: #64CCC5; }

.col a {
  text-decoration: none;
  color: aliceblue; }

.footer p {
  color: aliceblue;
  font-size: 10px;
  padding: 10px 0 0 0; }

@media (min-width: 426px) {
  .col {
    display: flex;
    flex-direction: column; }
  .cursos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .card {
    width: 300px; }
  .sec-flota {
    flex-direction: column;
    align-items: center; }
  .tabla {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
  .tabla2 {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
  .tabla3 {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
  .tabla4 {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; } }

@media (min-width: 769px) {
  .cursos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .card {
    width: 250px; } }

@media (min-width: 1025px) {
  .cursos {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; }
  .cursos .card {
    width: 350px; }
  .sec-flota {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
  .flota {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .tabla {
    width: 500px; }
  .tabla2 {
    width: 500px; }
  .tabla3 {
    width: 500px; }
  .tabla4 {
    width: 500px; } }

@media (min-width: 1441px) {
  .footer {
    flex-direction: column; }
  .cursos {
    width: 1550px;
    margin: auto; }
  .flota {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
  .tabla {
    margin: 0 100px 0 0;
    width: 900px; }
  .tabla2 {
    margin: 0 0 0 100px;
    width: 900px; }
  .tabla3 {
    margin: 0 100px;
    width: 900px; }
  .tabla4 {
    margin: 0 0 0 100px;
    width: 900px; }
  .sec-flota img {
    width: 800px; } }
