@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.header {
  background-color: #001C30;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .header ul {
    list-style-type: none;
    text-transform: uppercase;
    margin: auto;
    display: flex;
    flex-direction: row; }
    .header ul li {
      font-size: 13px;
      padding: 5px;
      margin: 10px;
      background-color: #001C30;
      border-radius: 10px; }
      .header ul li a {
        color: #64CCC5;
        font-family: 'Kanit', sans-serif;
        text-decoration: none; }

a:hover {
  background-color: #001C30;
  font-weight: bold;
  text-decoration: none; }

.main {
  background-color: #ebf4f0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .main .titulo {
    background-image: linear-gradient(rgba(57, 81, 68, 0.7), rgba(57, 81, 68, 0.7)), url(https://www.argentina.gob.ar/sites/default/files/avion_despegando.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 2561px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .main .titulo h1 {
      color: #EEE3CB;
      font-size: 70px;
      margin: 5px;
      text-align: center;
      font-family: 'Kanit', sans-serif; }
  .main .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

.tag {
  margin: 10px;
  text-decoration: none; }
  .tag small {
    background-color: #001C30;
    padding: 4px 10px;
    font-size: 15px;
    border-radius: 5px;
    color: aliceblue; }

small:hover {
  background-color: #EEE3CB;
  color: #001C30;
  font-weight: normal;
  text-decoration: none; }

.seccion {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .seccion .form {
    background-color: #001C30;
    color: aliceblue;
    margin: 5px 70px;
    padding: 10px;
    border-radius: 15px; }
    .seccion .form input {
      padding: 5px;
      margin: 5px;
      border-radius: 15px; }

.alum {
  border: 1px solid;
  border-radius: 15px;
  background-color: #001C30;
  margin: 15px; }
  .alum img {
    border-radius: 10px;
    margin: 8px; }
  .alum div {
    font-size: 25px;
    margin: 5px;
    padding: 8px;
    color: #EEE3CB;
    text-transform: uppercase;
    border-radius: 10px;
    text-align: center; }

.horas {
  border: 1px solid;
  border-radius: 15px;
  background-color: #001C30;
  margin: 15px; }
  .horas img {
    border-radius: 10px;
    margin: 8px; }
  .horas div {
    font-size: 25px;
    margin: 5px;
    padding: 8px;
    color: #EEE3CB;
    text-transform: uppercase;
    border-radius: 10px;
    text-align: center; }

.fly {
  padding: 10px 0; }
  .fly .sec-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }

.go h2 {
  color: #001C30;
  padding: 5px;
  text-align: center;
  font-size: 30px;
  font-family: 'Kanit', sans-serif; }

.go p {
  color: #001C30;
  text-align: start;
  margin: 15px;
  padding: 15px 0;
  font-size: 25px;
  font-family: 'Kanit', sans-serif; }

.go ul {
  list-style-type: disc; }
  .go ul li {
    color: #001C30;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    padding: 10px; }

@media (min-width: 426px) {
  .main .container {
    flex-direction: column;
    align-items: center; }
  .main .seccion .form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main .sec-img {
    flex-direction: column;
    align-items: center; } }

@media (min-width: 769px) {
  .grilla {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "alum horas" "alum horas"; }
    .grilla .alum {
      grid-area: alum;
      margin: 0 15px 0 0; }
    .grilla .horas {
      grid-area: horas;
      margin: 0 0 0 15px; } }

@media (min-width: 1025px) {
  .main img {
    height: 300px; }
  .main .sec-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "parrafo imagen" "lista imagen";
    justify-items: center; }
    .main .sec-img .go p {
      grid-area: parrafo; }
    .main .sec-img .sec-img {
      grid-area: imagen; }
    .main .sec-img .go ul {
      grid-area: lista; }
    .main .sec-img .go {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.cursos {
  background-color: #ebf4f0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .cursos .titulo {
    background-image: linear-gradient(rgba(57, 81, 68, 0.7), rgba(57, 81, 68, 0.7)), url(https://www.argentina.gob.ar/sites/default/files/avion_despegando.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center; }
    .cursos .titulo h1 {
      color: #EEE3CB;
      font-size: 70px;
      margin: 5px;
      text-align: center;
      font-family: 'Kanit', sans-serif; }
  .cursos .card {
    margin: 25px; }
    .cursos .card h5 {
      font-family: 'Kanit', sans-serif;
      font-size: 25px;
      color: #428c87; }
    .cursos .card p {
      font-family: 'Kanit', sans-serif; }

@media (min-width: 426px) {
  .card {
    width: 500px; } }

@media (min-width: 769px) {
  .cursos .sec-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .card {
    width: 300px; } }

@media (min-width: 1025px) {
  .cursos .card {
    width: 420px; } }

@media (min-width: 1441px) {
  .cursos {
    width: 1550px;
    margin: auto; } }

.flota {
  background-color: #ebf4f0; }
  .flota .titulo {
    background-image: linear-gradient(rgba(57, 81, 68, 0.7), rgba(57, 81, 68, 0.7)), url(https://www.argentina.gob.ar/sites/default/files/avion_despegando.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .flota .titulo h1 {
      color: #EEE3CB;
      font-size: 60px;
      margin: 5px;
      text-align: center;
      font-family: 'Kanit', sans-serif; }
  .flota h3 {
    margin: 0 20px;
    padding: 10px 0;
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    text-align: center; }
  .flota .sec-flota {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .flota .sec-flota .tabla {
      background-color: #FAF3F0;
      margin: 15px;
      border-radius: 10px;
      border: 2px solid;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
      .flota .sec-flota .tabla .div-t h5 {
        text-align: center;
        text-decoration: underline;
        padding: 10px; }
      .flota .sec-flota .tabla .div-t table {
        margin: 15px;
        text-align: center; }
        .flota .sec-flota .tabla .div-t table tr, .flota .sec-flota .tabla .div-t table td {
          border: 1px solid;
          font-family: 'Kanit', sans-serif;
          padding: 3px; }

@media (min-width: 426px) {
  .sec-flota {
    justify-content: center; }
  .tabla {
    width: 480px; } }

@media (min-width: 769px) {
  .sec-flota {
    align-items: stretch;
    justify-content: center; }
    .sec-flota .tabla {
      width: 480px; } }

@media (min-width: 1025px) {
  .sec-flota {
    justify-content: space-evenly; }
    .sec-flota .tabla {
      width: 690px; }
      .sec-flota .tabla tr, .sec-flota .tabla td {
        width: 400px; } }

@media (min-width: 2159px) {
  .sec-flota .tabla {
    width: 825px; } }

.nosotros {
  background-color: #ebf4f0; }
  .nosotros .titulo {
    background-image: linear-gradient(rgba(57, 81, 68, 0.7), rgba(57, 81, 68, 0.7)), url(https://www.argentina.gob.ar/sites/default/files/avion_despegando.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center; }
    .nosotros .titulo h1 {
      color: #EEE3CB;
      font-size: 70px;
      margin: 5px;
      text-align: center;
      font-family: 'Kanit', sans-serif; }
  .nosotros .container-n p {
    font-family: 'Kanit', sans-serif;
    margin: 15px; }
  .nosotros .container-n .img-n {
    margin: 15px; }
  .nosotros .container-m .modalidades div {
    border: 1px;
    margin: 15px; }
    .nosotros .container-m .modalidades div i {
      font-size: 50px;
      margin: 10px;
      background-color: #95cfcb;
      border-radius: 10px;
      border: 1px; }
    .nosotros .container-m .modalidades div h3 {
      font-family: 'Kanit', sans-serif;
      color: #336461;
      text-align: center; }
    .nosotros .container-m .modalidades div p {
      font-family: 'Kanit', sans-serif;
      margin: 15px; }
  .nosotros .container-l {
    margin: 15px;
    border: 1px solid;
    border-radius: 10px; }
    .nosotros .container-l h2 {
      font-family: 'Kanit', sans-serif;
      font-size: 30px;
      color: #336461;
      margin: 10px;
      text-align: center; }
    .nosotros .container-l p {
      margin: 10px;
      font-family: 'Kanit', sans-serif;
      font-size: 20px; }
    .nosotros .container-l .lista h3 {
      font-size: 30px;
      font-family: 'Kanit', sans-serif;
      color: #336461;
      margin: 10px; }
    .nosotros .container-l .lista ul {
      margin: 10px; }
      .nosotros .container-l .lista ul li {
        font-family: 'Kanit', sans-serif;
        padding: 10px; }

@media (min-width: 426px) {
  .nosotros .container-n {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .nosotros .container-m .modalidades div {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .nosotros .container-l p {
    text-align: center; }
  .nosotros .container-l .lista h3 {
    margin-left: 30px; } }

@media (min-width: 769px) {
  .nosotros .container-n {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center; }
  .nosotros .container-m .modalidades {
    display: flex;
    justify-content: space-evenly; }
    .nosotros .container-m .modalidades div {
      width: 300px; } }

@media (min-width: 1025px) {
  .nosotros {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .nosotros .container-m {
      width: -webkit-fill-available; }
      .nosotros .container-m .modalidades {
        justify-content: space-around; }
    .nosotros .container-l {
      width: 1100px; } }

.m-t {
  background-color: #ebf4f0; }
  .m-t .titulo {
    background-image: linear-gradient(rgba(57, 81, 68, 0.7), rgba(57, 81, 68, 0.7)), url(https://www.argentina.gob.ar/sites/default/files/avion_despegando.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center; }
    .m-t .titulo h1 {
      color: #EEE3CB;
      font-size: 70px;
      margin: 5px;
      text-align: center;
      font-family: 'Kanit', sans-serif; }
  .m-t .taller h3 {
    font-family: 'Kanit', sans-serif;
    color: black;
    font-size: 30px;
    margin: 15px;
    text-align: center; }
  .m-t .taller p {
    font-family: 'Kanit', sans-serif;
    margin: 15px;
    text-align: center;
    font-size: 25px; }
  .m-t .taller ul {
    margin: 15px; }
    .m-t .taller ul li {
      font-family: 'Kanit', sans-serif;
      font-size: 20px;
      margin: 15px; }
  .m-t .contacto h4 {
    font-family: 'Kanit', sans-serif;
    color: #336461;
    font-size: 40px;
    margin: 15px;
    text-align: center; }
  .m-t .contacto .formu {
    border: 1px solid;
    border-radius: 10px;
    background-color: #FAF3F0;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    .m-t .contacto .formu input {
      margin: 15px;
      border: 1px solid;
      border-radius: 10px;
      font-size: 20px;
      height: 70px; }

@media (min-width: 426px) {
  .m-t {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .m-t .taller {
      border: 1px; }
    .m-t .contacto .formu {
      width: 500px; } }

@media (min-width: 769px) {
  .m-t {
    align-items: center; }
    .m-t .taller div {
      border: 1px;
      margin: 15px;
      width: 400px; } }

@media (min-width: 1025px) {
  .m-t {
    justify-content: space-evenly; }
    .m-t .taller div {
      width: 500px; } }

.footer {
  background-color: #001C30;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly; }
  .footer .col {
    color: aliceblue;
    font-size: 15px; }
    .footer .col h2 {
      color: #64CCC5; }
    .footer .col a {
      text-decoration: none;
      color: aliceblue; }
  .footer p {
    color: aliceblue;
    font-size: 10px;
    padding: 10px 0 0 0; }

@media (min-width: 426px) {
  .col {
    display: flex;
    flex-direction: column; } }

@media (min-width: 1441px) {
  .footer {
    flex-direction: column; } }
