.cursos{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 35px;
        padding: 10px;
        margin: 10px;
        color:  #336461;
        font-family: 'Kanit', sans-serif;
    }
    .card{
        margin: 25px;
    h5{
        font-family: 'Kanit', sans-serif;
        font-size: 25px;
        color: #428c87; 
    }
    p{
        font-family: 'Kanit', sans-serif;  
    }
    }
}
@media (min-width: 426px){
    .card{
        width: 500px;
    }
}
@media (min-width: 769px){
    .cursos{
        .sec-cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
    .card{
        width: 300px;
    }
}
@media (min-width: 1025px){
    .cursos{
        .card{
            width: 420px;
        }
    }
}
@media (min-width: 1441px){
    .cursos{
        width: 1550px;
        margin: auto;
    }
}